.container
  form.form-signin(name='loginForm', ng-submit='loginVm.login(loginVm.credentials)')
    h2.form-signin-heading Please sign in
    label.sr-only(for='email') Email address
    input#email.form-control(type='email', placeholder='Email address', required='', autofocus='', ng-model='loginVm.credentials.email')
    label.sr-only(for='password') Password
    input#password.form-control(type='password', placeholder='Password', required='', ng-model='loginVm.credentials.password')
    button.btn.btn-lg.btn-info.btn-block(type='submit') Sign in
