.container
  .row
    .col-sm-3 
      img.img-responsive(src="http://uxrepo.com/static/icon-sets/linecons/svg/food.svg" class="img-rounded  " alt="User image")
    .col-sm-9
      .panel.panel-default
        .panel-heading
          .page-header
            h1 {{recipeVm.recipe.name}} 
              small ~{{recipeVm.recipe.preparation_time_in_min }} minutes
            .pull-right
              span.label.label-info Created at: {{recipeVm.recipe.created_at | date:'H:mm on dd MMM yyyy'}}
              button.btn.btn-info(ng-click="recipeVm.addToFavourites()" ng-if="!recipeVm.isInFavourites")
                i.fa.fa-heart
              button.btn.btn-warning(ng-click="recipeVm.deleteFromFavourites()" ng-if="recipeVm.isInFavourites")
                i.fa.fa-ban
                
        .panel-body
          div(ng-bind-html="recipeVm.recipe.description")
          hr
          p.pull-right Created by: {{recipeVm.recipe.user.email}}
