/* BASIC STYLINGS
============================================================================= */

/* form styling */
#form-container                { margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { margin:0; padding:30px;
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {}
#status-buttons a               { color:#000; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; min-width: 80px;}
#status-buttons a:hover         { text-decoration:none; }
#status-buttons a.active   {
  text-decoration:none;
}
#status-buttons a.active span   {
  text-decoration:none;
  background-color: #FF7863;
  border-color: #FF3A1B;
}

/* we will style the span as the circled number */
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px;
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a span   {
  color: #FFF;
  background-color: #5bc0de;
  border-color: #16CD4D;
}

/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:30px; }
#form-views             { width:auto; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}

/* enter animation */
#form-views.slideInRight.ng-enter            {
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
}

#form-views.slideInLeft.ng-enter            {
    -webkit-animation:slideInLeft 0.5s both ease;
    -moz-animation:slideInLeft 0.5s both ease;
    animation:slideInLeft 0.5s both ease;
}

/* leave animation */
#form-views.slideOutLeft.ng-leave            {
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}

#form-views.slideOutRight.ng-leave            {
    -webkit-animation:slideOutRight 0.5s both ease;
    -moz-animation:slideOutRight 0.5s both ease;
    animation:slideOutRight 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide out to the right */
@keyframes slideOutRight {
    to      { transform: translateX(200%); }
}
@-moz-keyframes slideOutRight {
    to      { -moz-transform: translateX(200%); }
}
@-webkit-keyframes slideOutRight {
    to      { -webkit-transform: translateX(200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}

/* slide in from the left */
@keyframes slideInLeft {
    from    { transform:translateX(-200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
    from    { -moz-transform:translateX(-200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from    { -webkit-transform:translateX(-  200%); }
    to      { -webkit-transform: translateX(0); }
}
