.form-group(ng-class="{'has-error': registration.password.$touched && registration.password.$invalid}")
  label(for='password') Password:
  .div(ng-messages='registration.password.$error', role='alert' ng-if="registration.password.$touched && registration.password.$invalid")
    .help-block(ng-message='required') This field is required
    .help-block(ng-message='minlength') password needs to contains at least 8 characters
  input.form-control#password(type='password', name='password', required='', ng-minlength="8", ng-model='registrationVm.credentials.user.password')
.form-group
  label(for='password_confirmation') Password confirmation:
  input.form-control#password_confirmation(type='password', required='', ng-model='registrationVm.credentials.user.password_confirmation')
button.btn.btn-danger(type='submit', ng-disabled="registration.password.$error.required || registration.password.$error.minlength") Submit
