.form-group
  label(for='password') Password:
  input.form-control#password(type='password', ng-model='registrationVm.credentials.user.password')
.form-group
  label(for='password_confirmation') Password confirmation:
  input.form-control#password_confirmation(type='password', ng-model='registrationVm.credentials.user.password_confirmation')
button.btn.btn-danger(type='submit') Submit
